{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="general-container" >
<div class="container">
    <div class="row">
        <div class=" col-md-6 col-sm-offset-3  ">
<p>Для подтверждения вашего аккаунта сначала просмотрите папку входящих сообщений на почте,
    которую вы использовали при регистрации на сайте , чтобы проверить получили ли вы электронное письмо с подтверждением.</p>

<p>Электронное письмо для подтверждения аккаунта содержит ссылку для подтверждения адреса электронной почты.
    Пройдите по ссылке, чтобы подтвердить регистрацию вашего аккаунта.</p>

<p>Если вы не получили данное письмо, проверьте папки «Спам» и «Удаленные», так как письмо могло автоматически туда перейти.
     </p>
        </div>
    </div>
</div>
</div>


{% endblock content %}
